/*//////////////////////////////////////////////
/                About Calculator
///////////////////////////////////////////////*/
.accordion-items {
  text-align: justify;
  font-family: Lucida Sans Unicode, Lucida Grande;

}

.accordion-header {
  text-align: center;
}