/*//////////////////////////////////////////////
/                 Green Button
///////////////////////////////////////////////*/

button[type="submit"] {
    margin-left: 10px;
    background-color: green;
    color: white;
    border: none;
    width: 30px; /* increase the width to make the button wider */
    height: 30px;
    border-radius: 5px;
    font-size: 20px;
    transition: background-color 0.3s ease-in-out;
    margin-top: 12px; /* add this line to adjust the margin at the top */
  
  }
  
  button[type="submit"]:hover {
    background-color: rgb(0, 84, 0);
    transform: scale(1.2); /* adjust the transform property to scale instead of scale */
  }
  