.my-header {
  text-align: center;
  font-family: Lucida Sans Unicode, Lucida Grande;
  font-size: 50px;
  margin-bottom: 1px;
  letter-spacing: -1px; /* Decrease the letter spacing */
}

.my-subheader {
  text-align: center;
  font-family: Lucida Sans Unicode, Lucida Grande;
  color: rgb(0, 0, 0);
  font-size: 23px;
  margin-top: 5px;
}

.highlight {
  color: black; /* Make the text black */
  font-weight: bold; /* Make the text bold */
}

.blue {
  color: #3e8e41; /* Make the text blue */
  font-weight: bold; /* Make the text bold */

}
