table {
  margin: 0 auto;
  min-width: 900px;
  font-family: Lucida Sans Unicode, Lucida Grande;
  opacity: 0.75;
}

.table-shell {
  position: relative;
  z-index: 1;
}

.my-table.input-table td, .my-table.input-table th {
  
  border: 1px dotted #ccc;
  padding: 10px;
  word-wrap: break-word;
  white-space: normal;
  font-family: Lucida Sans Unicode, Lucida Grande;


}
/********** DELETE COLUMN ************/

.my-table.input-table th:last-child {
  border: none;
  background-color: white;
}
/*****************************************/
.my-table.input-table thead {
  background-color: #f1f1f1;
  border-bottom: none;
  text-align: center;
  
}

.my-table.input-table td:last-child, .my-table.input-table th:last-child {
  border: none;
}

.center {
  text-align: center;
}

.my-table.input-table .no-data {
  background-color: #262626;
  color: #ffffff;
}
/********** SLIDING ANIMATION ************/
.my-table.input-table .slide-enter {
  transform: translateY(-100%);
}
.my-table.input-table .slide-enter-active {
  transform: translateY(0);
  transition: transform 300ms ease-out;
}
/*****************************************/

/********** INDIVIDUAL CELLS ************/
.my-table.input-table .college-cell {
  width: 300px;
  font-size: 25px;
}

.my-table.input-table .major-cell {
  width: 250px;
  font-size: 25px;
}

.my-table.input-table .residency-cell {
  width: 200px;
  font-size: 25px;
}

.my-table.input-table .cost-cell, 
.my-table.input-table .salary-cell {
  width: 200px;
  font-size: 18px;
  border-bottom: none;
}

.my-table.input-table .delete-cell {
  width: 50px;
}

.my-table.input-table .years-cell {
  width: 75px;
  border-top: none;
}
/*****************************************/
