/*//////////////////////////////////////////////
/                 Input Boxes
///////////////////////////////////////////////*/
.input-label input {
    width: 100%;
    padding: 10px;
    font-size: 10px;
  }
  
  .radio-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
  }
  
  label {
    margin-right: 10px;
  }