/*//////////////////////////////////////////////
/                 Input Boxes
///////////////////////////////////////////////*/
.input-label input {
    width: 100%;
    padding: 10px;
    font-size: 10px;
    font-family: Lucida Sans Unicode, Lucida Grande;

  }
  
  .radio-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    font-family: Lucida Sans Unicode, Lucida Grande;

  }
  
  label {
    margin-right: 10px;
    

  }

  form {
    font-family: Lucida Sans Unicode, Lucida Grande;
    margin: 50px auto 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}