button.delete-button {
    border: none;
    background-color: rgb(215, 10, 10);
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    font-size: 20px;
    transition: background-color 0.3s ease-in-out;
    margin-top: 5px;
  }
  
  button.delete-button:hover {
    background-color: darkred;
    transform: scale(1.2); /* adjust the transform property to scale instead of scale */

  }
  