/*//////////////////////////////////////////////
/                Red Delete Button
///////////////////////////////////////////////*/
button.delete-button {
  border: none;
  background-color: rgb(219, 24, 24);
  color: white;
  width: 35px;
  height: 35px;
  border-radius: 0;
  font-size: 20px;
  transition: all 0.2s ease-in-out;
  margin-top: 5px;
  cursor: pointer;
}

button.delete-button:hover {
  background-color: darkred;
  transform: scale(1.1);
  box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}

button.delete-button:active {
  background-color: rgb(219, 24, 24);
  transform: scale(0.95);
  box-shadow: none;
}
